<launch>
	<rosparam command="load" file="$(find theia)/params.yaml"/>
	<include file="$(find control)/launch/all.launch"/>
	<include file="$(find core)/launch/all.launch"/>
	<include file="$(find mapping)/launch/all.launch"/>
	<include file="$(find path_planner)/launch/all.launch"/>
	<include file="$(find robot_talk)/launch/all.launch"/>
</launch>
