<launch>
	
	<include file="$(find control_motion)/launch/all.launch"/>
	<include file="$(find control_logic)/launch/basic.launch"/>
	<include file="$(find control_mux)/launch/all.launch"/>
	<include file="$(find mapping)/launch/all.launch"/>
	<include file="$(find path_planner)/launch/all.launch"/>
</launch>
